main{
    margin-top: 182px;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
#form-container{
    width: 460px; 
    margin: 200px auto;
    padding: 200px 0;
    font-family: 'Noto Sans KR Light', sans-serif;
}
.logo-area{
    text-align: center;
    height: 120px;
}
#id-area{
    margin-bottom: 20px;
}
.input-wrapper, #id-area, #pw-area{
    position: relative;
}
.input-wrapper input{
    color: #495055;
    width: 100%;
    padding: 15px 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    border-bottom: 1px solid #e1e3e3;
}
.input-wrapper span{
    position: absolute;
    top: 15px;
    left: 15px;
    letter-spacing: -1.2px;
    color: #bdbdbd;
    transition: all 0.2s;
    transform-origin: 0% 0%;
}

.input-wrapper button{
    width: 100%; 
    margin: 3rem 0 0; 
    padding: 1rem;
    background-color: #f3783d;
    color: white;
    letter-spacing: -1px;
    font-family: 'Noto Sans KR Light', sans-serif;
    border-radius: 4px;
    font-weight: 600;
}

.find-container{
    text-align: center; 
    font-size: 12px;
}

.find-wrapper{
    padding: 1rem;
}

.easy-signup{
    padding: 0;
}
.easy-signup li{
    width: 100%;
    border-radius: 4px;
}
.easy-signup li:not(:last-child){
    margin-bottom: 10px;
}
.easy-signup img{
    height: 50px;
    float: left;
}
.easy-signup span{
    display: inline-block;
    height: 50px;
    position: relative;
    transform: translate(-25px, 15px);
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.input-wrapper input:focus, .input-wrapper input:valid{
    border: 1px solid #f3783d;
}
.input-wrapper input:valid + .input-placeholder,
.input-wrapper input:focus + .input-placeholder{
    top: -10px;
    transform: scale(0.8);
    background-color: white;
    color: #f3783d;
    font-weight: 600;
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (max-width:1023px) { 

} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 908px)*/ 
@media all and (max-width:908px) {
    #form-container{
        width: 90%;
        min-width: 270px;
        padding: 0 42px;
    }
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    #form-container{
        width: 100%;
    }
}